*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.5;
}

body {
  background: rgb(51, 51, 51);
  display: flex;
  justify-content: center;
}
